.container {
    background-color: rgb(236, 239, 239);
    height: 2rem;
    min-height: fit-content;
    width: 60rem;

    border-style: solid;
    border-color: black;
    border-width: 2px;
    border-radius: 2rem;

    border-radius: 2rem;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.circle {
    border-radius: 50%;
    height: 15px;
    width: 15px;
    border: 2px solid white;
    cursor: pointer;
}

.complete_circle {
    background-color: green;
}

.circle_text_container {
    display: flex;
    justify-content: flex-start;
}

.button {
    margin-right: 10px;
    border: none;
    font-size: 20px;
}

.button:hover {
    border-color: black;
    border-style: solid;
    border-radius: 50%;
    background-color: #aeb7b4;
}

.display {
    margin-left: 10px;
    margin-right: 10px;
}